@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to your CSS file */
.scrollbar-custom {
    @apply overflow-y-scroll;
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-lg;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }
  
/* Carousel */
  #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: start;
    font-size: 18px;
    background: #eee;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */